// Override this file to add your own SCSS styling.
$siteBgColorCustom: #FCEEF1;
$sidebarBgColorCustom: #f8f8f8;   /*#f8f9fa*/
$textColorCustom: #22071E;
$sidebarTextColorCustom: #77186A;

$headlineColorCustom: #77186A; //#137752
$headingColorCustom: #44074B;

$bodyLinkColorCustom: #137752; /*#137752  #4cac84   #f8f9fa*/
$navLinkColorCustom: #77186A;
$sidebarLinkColorCustom: #637354;

$footerTextColorCustom: #706E6C;

$buttonTextColorCustom: #F7F7F4;
$buttonHoverTextColorCustom: #F9F9F8;

$buttonBgColorCustom: #899D78;
$buttonHoverBgColorCustom: #6F825E;

$borderColorCustom: #F9DCE3;
